.main {
  padding: 4rem;
  max-width: 50%;
  margin: 0 auto;
  background-color: white;
  border: 5px solid black;
  border-radius: 25px;

}


img{
  max-width: 20%;
  max-height: 20%;
}

h1{
    font-family:Century Gothic;
    font-size: 50px;
    color: yellow
}
